<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %} - FlixRec</title>
    <link rel="stylesheet" href="https://unpkg.com/sakura.css/css/sakura-dark.css" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
    <style type="text/css">
        input[type="color"],
        input[type="date"],
        input[type="datetime"],
        input[type="datetime-local"],
        input[type="email"],
        input[type="month"],
        input[type="number"],
        input[type="password"],
        input[type="search"],
        input[type="tel"],
        input[type="text"],
        input[type="time"],
        input[type="url"],
        input[type="week"],
        select:focus,
        textarea {
          font-size: 16px;
        }
    </style>
    <nav>
        <a href="{{ url_for('find_similar_title') }}">FlixRec</a> |
        <a href="https://web.navan.dev/posts/2022-05-21-Similar-Movies-Recommender.html">About</a>
    </nav>
    <hr>
    <div class="content">
        {% block content %} {% endblock %}
    </div>
</body>